body {
	margin-top: 10px;
	background: white;
}

.container {
	background: #D43438;
	padding-top: 20px;
	border-top: 0; 
	border-right: 10px solid #A63234;
	border-left: 0;
	border-bottom: 10px solid #A63234;
	border-radius: 25px;
	height: 100%;
	width: 100%;
}

#pokepic {
	width: 220px;
	height: 220px;
	margin: 20px 80px;
}

#pokepick-container {
	width: 220px;
	height: 250px;
}

.backblue {
	background-color: #D2EDF8;
	box-shadow: 5px 5px rgba(50, 50, 50, 0.2), 5px 5px white inset;
	border-radius: 18px;
	border-top: 5px solid black;
	border-left: 8px solid black;
	border-right: 8px solid black;
	border-bottom: 5px solid black;
	margin: 5px 40px;
}

#right_col {
	width: 400px;
	height: 550px;
}

#moveset_tab {
	display: none;
	margin: 0px 20px;
}

.tri-button {
	width: 100px;
	height: 100px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.centeredtext {
	text-align: center;
}

.nobackcol {
	margin-left: auto;
	margin-right: auto;
	margin: 5px 45px;
}

#info {
	border-bottom: 2px solid white;
}

table {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 18px;
}

.stats {
	width: 30px;
	padding-left: 10px;
}

.statnumber {
	text-align: right;
}

.progress {
	margin-right: 15px;
	margin-left: 15px;
}


/*STATS BARS*/

#poke_hp_bar {
	background-color: #39ce13 !important;
}
#poke_attack_bar {
	background-color: #cc1818 !important;
}
#poke_defense_bar {
	background-color: #f1d759 !important;
}
#poke_spattack_bar {
	background-color: #3758fd !important;
}
#poke_spdefense_bar {
	background-color: #0ac3b2 !important;
}
#poke_speed_bar {
	background-color: #f3802f !important;
}


#type_tab {
	background-color: white;
	border-radius: 18px;
	margin-bottom: 20px;
	height: 100px;
}

#abilities_tab {
	background-color: white;
	border-radius: 18px;
	margin-bottom: 20px;
	height: 155px;
}

#poke_title {
	text-align: right;
}

.poke_type {
	font-size: xx-large;
	background-color: black;
	color: white;
	text-shadow: 2px 2px rgba(30, 30, 30, 0.3);
	box-shadow: 2px 2px rgba(30, 30, 30, 0.3);
}

#search_box {
	width: 330px;
	background: none;
	border: none;
	outline: none;
	border-radius: 10px;
}

.btn {
	background: black;
	color: white;
	box-shadow: 2px 2px rgba(50, 50, 50, 1), 2px 2px white inset;         
	border-radius: 15px;
}

#dex_entry {
	font-size: 1em;
	font-weight: 600;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #D2EDF8;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    background-image: none;
}

/*==========================
MOVESET TABLE
==========================*/
#moveset_tab_grid {
	height: 550px;
	display: grid;
	grid-template-rows: [move table] 2f [move info] 1f;
	grid-template-areas: "table"
						 "table"
						 "info"
}

#moveset_tab table {
	padding: 0px 20px;
	margin-bottom: 0;
	grid-area: table;
}

.level {
	text-align: right;
	padding-right: 20px;
}


.table-condensed {
	background-color: #e1f3fa;	
	border-radius: 18px 18px 0px 0px;
	height: 100px;
}

.table-condensed td {
	color: rgb(60, 60, 60);
	font-weight: bold;
	border-bottom: 1px solid white;
	padding-right: 20px;
}



.table-condensed thead, .table-condensed tbody{
  display: block;  
}

.table-condensed tbody{
  overflow-y: scroll;
  height: 315px;
}

/*==========================
MOVE DISPLAY
==========================*/

#move_info {
	width: 400px;
	height: 160px;
	margin-bottom: 10px;
	background-color: #D2EDF8;
	border-radius: 50px;
	border: 2px solid white;

	grid-area: info;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: "move move move"
						 "power type acc"		
						 "powval class accval"
						 "eff eff eff"
}

.grid-title {
	justify-self: center;
	align-self: center;	
	
	font-size: large;
}

.grid-value {
	font-weight: bold;
}

#move_name {
	grid-area: move;
	
	font-size: large;	
	font-weight: bold;
	text-align: center;

	background-color: white;
	border-radius: 50px;
	width: 85%;
	height: 90%;	
}

#move_type {
	grid-area: type;
}

#move_power {
	grid-area: power;
}

#move_power_value {
	grid-area: powval;
	align-self: start;	
	
	font-size: x-large;
}

#move_class {
	grid-area: class;
}

#move_accuracy{
	grid-area: acc;
}

#move_accuracy_value{
	grid-area: accval;
	align-self: end;	
	
	font-size: x-large;
}

#move_effects {
	grid-area: eff;
	justify-self: center;

	font-weight: 700;	
	text-align: center;
	font-size: medium;

	background-color: white;
	border-radius: 50px;
	width: 85%;
	height: 90%;		
}
