@font-face {
    font-family: PressStart2P;
    src: url('../fonts/PressStart2P-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'PressStart2P';
    font-size: 16px;
    box-sizing: border-box;
    list-style: none;
    color: #333;
}

*:focus {
    border: none;
    outline: none;
}

body {
    overflow: hidden;
}

button {
    cursor: pointer;
}

.Background {
    position: sticky;
    background-color: #FFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 20px;
}

.Main-Window {
    background: linear-gradient(157deg, rgba(255,123,123,1) 2%, rgba(237,27,27,1) 55%, rgba(215,49,67,1) 82%);
    box-shadow: 5px 5px rgba(50, 50, 50, 0.2), 5px 5px white inset;
    border-left: 1px solid rgba(237,27,27,1);
    border-top: 1px solid rgba(237,27,27,1);
    border-right: 8px solid rgb(146, 26, 40);
    border-bottom: 8px solid rgb(146, 26, 40);
    display: flex;
    border-radius: 25px;
    padding: 24px;
    justify-content: center;
    width: 550px;
}

.InfoBlock {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.Details-Window {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 550px;
    margin-left: -550px;
    z-index: -1;
}

.Form-Window {
    width: 250px;
    margin-right: -250px;
    margin-top: 120px;
    background: linear-gradient(157deg, rgba(255,123,123,1) 2%, rgba(237,27,27,1) 55%, rgba(215,49,67,1) 82%);
    box-shadow: 5px 5px rgba(50, 50, 50, 0.2), 5px 5px white inset;
    border-left: 1px solid rgba(237,27,27,1);
    border-top: 1px solid rgba(237,27,27,1);
    border-right: 8px solid rgb(146, 26, 40);
    border-bottom: 8px solid rgb(146, 26, 40);
    position: relative;
    display: flex;
    height: 50px;
    padding: 16px;
    border-radius: 25px;
    z-index: -2;
}

.Form-Window span {
    font-size: 12px;
    padding-left: 8px;
    opacity: 0;
}

.Info {
    background: linear-gradient(to bottom, #a5e6f0, #D2EDF8);
    margin-bottom: 8px;
    padding: 8px;
    box-shadow: 5px 5px rgba(50, 50, 50, 0.2), 5px 5px white inset;
    border-radius: 18px;
	border-top: 5px solid black;
	border-left: 8px solid black;
	border-right: 8px solid black;
    border-bottom: 5px solid black;
    transition: all .3s ease-in-out;
}

.Info:hover {
    box-shadow: 5px 5px 3px rgba(34, 2, 0, 0.8); 
}

/*
==========================
GENERAL INFORMATION DISPLAY
==========================
*/

.InfoName {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
}

.InfoImage {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 80%;
}

#PokeballBackgroundTop {
    position: absolute;
    right: -100px;
    bottom: 120px;
    width: 200px;
    opacity: 0.1;
    height: auto;
}

#PokeballBackgroundBottom {
    position: absolute;
    left: -100px;
    top: 120px;
    width: 200px;
    opacity: 0.1;
    height: auto;
}

.InfoTitle {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
    max-height: 60px;
    margin: 20px 0 8px;
    width: 100%;
}

.InfoSearch {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    max-height: 64px;
    width: 80%;
    margin: 20px 0 8px;
    border-radius: 50px;
    padding: 0;
}

.InfoPokedexEntry {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 8px;

    max-height: 100px;
    margin: 8px 0;
}

.FadingBox {
    max-height: 95%;
    overflow: hidden;
    margin: 0 4px;
}

.EntryText {
    animation: scroll 10s infinite;
    position: relative;
    top: 0;
    text-align: justify;
    line-height: 1.5em;
}

@keyframes scroll {
    0% {
        top: 50px;
    }
    100% {
        top: -80px;
    }
}

.InfoControls {
    display: flex;
    width: 100%;
    flex: 3;
    justify-content: space-evenly;
    align-items: center;
}

.ButtonConsole {
    display: flex;
    flex-direction: column;
}

.PokemonImage {
    height: 220px;
    width: auto;
    filter: drop-shadow(5px 5px 3px rgba(34, 2, 0, 0.8)); 
}

.PokemonName {
    font-size: 22px;
}

.PokemonTitle {
    font-size: 16px;
}

.PokemonNumber {
    font-size: 16px;
}

.SearchInput {
    width: 100%;
    border: none;
    background: none;
    padding-left: 16px;
    font-size: 16px;
}

.SearchInput::placeholder {
    font-size: 10px;
}

.Button {
    display: inline-block;
    text-decoration: none;
    background: #44a50b;
    color: rgba(255, 255, 255, 0.7);
    width: 66px;
    font-size: 8px;
    height: 64px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: inset 0px 3px 0 rgba(243, 242, 242, 0.8), 0 3px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 4px;
    text-shadow: 1px 1px 1px rgba(24, 1, 1, 0.65);
    transition: .4s;
}

.SearchButton {
    border-radius: 0 25px 25px 0;
    height: 100%;
    width: 100px;
    box-shadow: -2px 0 4px rgba(0, 0, 0, .2);
    background: linear-gradient(to bottom, #05b6d1, #7bbcd6);
    outline: none;
    border: none;
    color: #FFF;
    font-size: 16px;
}

.TriangularButton {
    width: 100px;
    height: auto;
    filter: drop-shadow(3px 3px rgba(50, 50, 50, 1)); 
    cursor: pointer;
}

.FormsButton:disabled{
    background-color: rgb(129, 129, 129) !important;
}

/*
    SWITCH SLIDER
*/

.switch__container {
    text-align: center;
}

.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
  
.switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch--shadow + label {
    padding: 2px;
    width: 80px;
    height: 40px;
    background-color: #dddddd;
    border-radius: 40px;
    border: 3px solid rgb(112, 112, 112);
}

.switch--shadow + label:before,
.switch--shadow + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: '';
}
.switch--shadow + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 50px;
    transition: all 0.4s;
}

.switch--shadow:disabled + label:before {
    background-color: #eee;
}

#switch-shadow-mega + label:after {
    background: url("..\\images\\megastone.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#switch-shadow-alolan + label:after {
    background: url("..\\images\\alolaicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #de7600;
}

.switch--shadow + label:after {
    opacity: .5;
    width: 35px;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    animation: glow .6s alternate infinite;
    transition: all 0.4s;
}

.switch--shadow:disabled + label:after {
    box-shadow: none;
    animation: none;
    background-color: #eee;
    opacity: .2;   
}

.switch--shadow:checked + label:before {
    background-color: #FFF;
}

.switch--shadow:checked + label:after {
    animation: rainbowGlow 4s alternate infinite;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 0 10px 10px rgba(180, 3, 250, .6);
    transform: translateX(36px);
    background-color: #FFF;
    opacity: .8;
}

/*
==========================
STATUS DISPLAY
==========================
*/

.Stats {
    display: flex;
    flex-direction: column;
    padding: 16px;
    flex: 1;
}

.Stats hr {
    border: 1px solid #FFF;
    margin-bottom: 8px;
}

.StatsBlock {
    background-color: #FFF;
    margin-bottom: 16px;
    border-radius: 25px;
    padding: 8px;
    width: 100%;
}

.StatsTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.StatsTitleTitle {
    font-size: 24px;
}

.StatsType {
    display: flex;
    flex-direction: column;
    flex: .6;
}

.StatsAbilities {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.StatsBars {
    display: flex;
    flex: 1;
}

.StatsBlockHeader {
    display: flex;
    flex: 1;
    justify-content: center;
}

.StatsBlockHeaderText {
    font-size: 14px;
}

.Types {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.Types li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(196, 48, 134);
    width: 180px;
    height: 80px;;
    font-size: 20px;
    font-weight: 700;
    padding: 16px;
    border-radius: 50px;
    color: #FFF;
    box-shadow: 4px 4px 0 rgb(184, 184, 184);
    text-shadow: 1px 1px 0 rgb(122, 122, 122);
    text-align: center;
}

.Abilities {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.StatsAbilities li {
    font-size: 18px;
    font-weight: 700;
}

.StatsBars {
    padding: 16px;
}

.StatsBars ul{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.StatsBars ul li {
    display: flex;
    flex: 1;

}

.StatsBars ul li span {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 10px;
    font-weight: 700;    
}

.StatsBars ul li span:nth-of-type(2) {
    text-align: right;
    padding: 0 16px;
    flex: .4;
    font-size: 12px;
    font-weight: 700;
}

.StatsBars ul li div {
    flex: 3.1;
}

.BarBackground {
    position: relative;
    background: linear-gradient(to bottom, #e5e7e7, #4ac3f3);
    width: 100%;
    height: 80%;
    border-radius: 50px;
}

.Bar {
    background-image: linear-gradient(to right, rgb(124, 255, 227) 0%, rgb(16, 224, 44) 100%);
    background-size: 100%;
    width: 80%;
    height: 100%;
    border-radius: 50px;
    transition: .3s ease all;
}

.BarBackground::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to top, rgb(102, 102, 102) 0%, transparent 40%, transparent 100%);
    top: 0;
    left: 0 ;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

/*
==========================
TYPE COLORS
==========================
*/

.Normal {
	background-color:  #a19168 !important;
}

.Fire {
	background-color: #d13017 !important;
}

.Fighting {
	background-color: #851504 !important;
}

.Water {
	background-color: #1c8dd9 !important;
}

.Flying {
	background-color: #cfecff !important;
}

.Grass {
	background-color: #06bf44 !important;
}

.Poison {
	background-color: #9d25b8 !important;
}

.Electric {
	background-color: #fff53b !important;
}

.Ground {
	background-color: #cf9204 !important;
}

.Psychic {
	background-color: #c90a80 !important;
}

.Rock {
	background-color: #7a5b0c !important;
}

.Ice {
	background-color: #5bdede !important;
}

.Bug {
	background-color: #366301 !important;
}

.Dragon {
	background-color: #020cd1 !important;
}

.Ghost {
	background-color: #5d0063 !important;
}

.Dark {
	background-color: #413442 !important;
}

.Steel {
	background-color: #ababab !important;
}

.Fairy {
	background-color: #ffbdf5 !important;
}

/*
    TOOLTIP
*/

.TooltipParent {
    position: relative;
    display: inline-block;
}

.TooltipParent .Tooltiptext {
    visibility: hidden;
    width: 400px;
    line-height: 1.5em;
    background: linear-gradient(to bottom, #a5e6f0, #D2EDF8);
    color: #444;
    text-align: center;
    font-size: 14px;
    box-shadow: 5px 5px rgba(50, 50, 50, 0.2), 5px 5px white inset;
    border-radius: 18px;
    border-radius: 6px;
    padding: 8px 16px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.TooltipParent .Tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #D2EDF8 transparent transparent transparent;
}

.TooltipParent:hover .Tooltiptext {
    visibility: visible;
    opacity: 1;
}